section.dashboard {
    .col-left {
        margin-bottom: 3rem;
        .cover {
            height: 200px;
            background: url('../img/pattern1.jpg') center no-repeat scroll;
            background-size: cover;
        }
        ul.side-menu {
            li {
                &.active {
                    border-left: 4px solid $primary;
                    background-color: $gray-10;
                    a {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px){
    section.dashboard {
        .col-left {
            margin-bottom: 0;
        }
    }
}