section#register-confirmation {
    background: url('../img/pattern-bg.jpg') center no-repeat scroll;
    background-size: cover;
    min-height: 100vh;
    .container {
        .card {
            @include box-shadow(0, 0, 1rem, 1rem, $gray-100);
        }
    }
}