.cover
    img.profile_logo
.py-4.px-4.bg-gray-50
    a(href='account-edit.html').btn.btn-primary.btn-lg.btn-block Edit Account
ul.nav.flex-column.side-menu.bg-gray-50
    li.nav-item.active
        a(href='account-overview.html').nav-link Overview
    li.nav-item
        a(href='account-verification.html').nav-link Account Verification
    li.nav-item
        a(href='account-campaign.html').nav-link My Campaigns
    li.nav-item
        a(href='account-donation.html').nav-link My Donations
    li.nav-item
        a(href='account-balance.html').nav-link My Balance