extends layout.pug

block content
    // Navbar
    include navbar1.pug
    // Content
    section.dashboard.top-bar
        .container
            .row
                .col-lg-3.col-left
                    include dashboard/sidebar.pug
                .col-lg-9
                    block account-detail