.card.h-100.campaign-item
    img.card-img-top(src='img/placeholder.jpg')
    .card-body
        h4.card-title Campaign Title
        p.card-text Hello everyone, i am a simple text
        a(href='campaign-single.html').btn.btn-primary.btn-lg.btn-block Selengkapnya
