.card.h-100
    img.card-img-top(src='img/placeholder.jpg')
    .card-body
        h4.card-title Campaign Title
        p.card-text Hey everyone, our family home has completley burnt down overnight a…
        .bottom-content
            .progress.mb-3
                .progress-bar.bg-primary(role='progressbar', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100', style='width: 10%')
            p.info Rp 50.000.000 terkumpul dari Rp 900.000.000
            a(href='campaign-single.html').btn.btn-primary.btn-lg.btn-block Selengkapnya
