footer.style1
    .container
        .row
            .col-lg-6.col-sm-12.desc
                h4 WPBerbagi
                hr
                p Premium Fundraising WordPress Theme
                ul.list-inline.social-buttons.my-2
            .col-lg-2.col-sm-4.first
                h4 About Us
                hr
                ul.links
                    li
                        a(href='about.html', target='') About Us
                    li
                        a(href='history.html', target='') History
                    li
                        a(href='sample-page.html', target='') Privacy Policy
            .col-lg-2.col-sm-4.mid
                h4 Our Menu
                hr
                ul.links
                    li
                        a(href='campaigns.html', target='') Donate
                    li
                        a(href='faq.html', target='') Helps
                    li
                        a(href='blogs.html', target='') Blogs
            .col-lg-2.col-sm-4.last
                h4 Useful Links
                hr
                ul.links
                    li
                        a(href='https://google.com', target='blank') Google
                    li
                        a(href='http://fb.com/rendy.444444', target='_blank') Facebook
    .network
        span.copyright © WPBerbagi 2019