doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title WPBerbagi - Premium Fundraising WordPress Theme
    //- Google fonts
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat&display=swap')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto&display=swap')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap')
    //- Core CSS
    link(rel='stylesheet', type='text/css', href='vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='vendor/remixicon/remixicon.css')
    //- Custom CSS
    link(rel='stylesheet', type='text/css', href='css/wpberbagi.min.css')
  body#page-top
    .navbar2
      #navbarResponsive.b-nav
        ul#menu-main-menu.b-nav-list
          li.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.active.nav-item
            a.nav-link(href='#')
          li.page_campaign.menu-item.menu-item-type-custom.menu-item-object-custom.nav-item
            a.nav-link(href='campaigns.html') Donate
          li.page_campaign.menu-item.menu-item-type-custom.menu-item-object-custom.nav-item
            a.nav-link(href='register.html') Start a Campaign
          li.page_history.menu-item.menu-item-type-custom.menu-item-object-custom.nav-item
            a.nav-link(href='volunteer.html') Be a Volunteer
          li.page_home.menu-item.menu-item-type-custom.menu-item-object-custom.nav-item
            a.nav-link(href='about.html') What is it?
      .b-container
        .b-menu
          .b-bun.b-bun--top
          .b-bun.b-bun--mid
          .b-bun.b-bun--bottom
        a.b-brand(href='#') WPBerbagi

    block content
    
    footer.style1
      .container
        .row
          .col-lg-6.col-sm-12.desc
            h4 WPBerbagi
            hr
            p Premium Fundraising WordPress Theme
            ul.list-inline.social-buttons.my-2
          .col-lg-2.col-sm-4.first
            h4 About Us
            hr
            ul.links
              li
                a(href='about.html', target='') About Us
              li
                a(href='history.html', target='') History
              li
                a(href='sample-page.html', target='') Privacy Policy
          .col-lg-2.col-sm-4.mid
            h4 Our Menu
            hr
            ul.links
              li
                a(href='campaigns.html', target='') Donate
              li
                a(href='faq.html', target='') Helps
              li
                a(href='blogs.html', target='') Blogs
          .col-lg-2.col-sm-4.last
            h4 Useful Links
            hr
            ul.links
              li
                a(href='https://google.com', target='blank') Google
              li
                a(href='http://fb.com/rendy.444444', target='_blank') Facebook
      .network
        span.copyright © WPBerbagi 2019

      //- Core JS
      script(src='vendor/jquery/jquery.min.js', type='text/javascript')
      script(src='vendor/bootstrap/js/bootstrap.bundle.min.js', type='text/javascript')
      //- Plugin JS
      script(src='vendor/jquery-easing/jquery.easing.min.js', type='text/javascript')
      //- Custom JS
      script(src='js/wpberbagi.min.js', type='text/javascript')