nav#mainNav.navbar.navbar-expand-lg.navbar-default.fixed-top
	.container
		a.navbar-brand.js-scroll-trigger(href='index.html') WPBerbagi
		button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
			| Menu
			i.fas.fa-bars
		#navbarResponsive.collapse.navbar-collapse
			ul.navbar-nav.text-uppercase.ml-auto
				li.nav-item
					a.nav-link(href='campaigns.html') Donate
				li.nav-item
					a.nav-link(href='volunteer.html') Be a Volunteer
				li.nav-item
					a.nav-link(href='about.html') What is it?
				li.nav-item
					a.nav-link(href='register.html') Start a Campaign