.navbar2
        #navbarResponsive.b-nav
            ul#menu-main-menu.b-nav-list
                //- li.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.active.nav-item
                    a.nav-link(href='#')
                li.page_campaign.menu-item.menu-item-type-custom.menu-item-object-custom.nav-item
                    a.nav-link(href='campaigns.html') Donate
                li.page_history.menu-item.menu-item-type-custom.menu-item-object-custom.nav-item
                    a.nav-link(href='volunteer.html') Be a Volunteer
                li.page_home.menu-item.menu-item-type-custom.menu-item-object-custom.nav-item
                    a.nav-link(href='about.html') What is it?
                li.page_campaign.menu-item.menu-item-type-custom.menu-item-object-custom.nav-item
                    a.nav-link(href='register.html') Start a Campaign
        .b-container
            .b-menu
                .b-bun.b-bun--top
                .b-bun.b-bun--mid
                .b-bun.b-bun--bottom
            a.b-brand(href='index.html') WPBerbagi