#about-us {
    .container {
        .row {
            .img-col {
                margin-bottom: 2rem;
            }
            .text-col {
                p {
                    text-align: justify;
                }
            }
        }
    }
}

@media (min-width: 768px){
    #about-us {
        .container {
            .row {
                .img-col {
                    margin-bottom: 0;
                }
                .text-col {
                    p {
                        text-align: left;
                    }
                }
            }
        }
    }
}