// Styling for the footer
footer {
    background-color: $gray-750;
    padding-top: 3rem;

    h4 {
        text-transform: uppercase;
        color: $gray-50;
        font-size: .9rem;
        font-weight: 400;
        // @include title-font;
    }

    hr {
        margin: 0 auto .75rem auto;
        border-color: $primary !important;
        width: 80px;
    }

    p {
        color: $gray-200;
    }

    ul.links {
        padding-left: 0;
        list-style: none;
        margin-bottom: 0;

        li {
            margin-bottom: .5rem;

            a {
                color: $gray-200;

                &:hover,
                &.active {
                    color: $gray-100;
                    text-decoration: underline;
                }
            }
        }
    }

    .row {
        .desc {
            text-align: center;
            margin-bottom: 1rem;
        }

        .first,
        .mid {
            text-align: center;
            margin-bottom: 1rem;
        }

        .last {
            text-align: center;
        }
    }

    .network {
        margin-top: 2rem;
        text-align: center;
        padding: .7rem;
        background-color: $gray-800;
        color: $gray-200;
        font-size: .9rem;
    }

    ul.social-buttons {
        margin-bottom: 0;

        li {
            a {
                font-size: 14px;
                line-height: 30px;
                display: block;
                width: 30px;
                height: 30px;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;
                color: white;
                border-radius: 100%;
                outline: none;
                background-color: $gray-900;
                text-align: center;

                &:active,
                &:focus,
                &:hover {
                    background-color: $primary;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    footer {
        .row {
            .first {
                text-align: right;
                margin-bottom: 0;

                hr {
                    margin: 0 0 .75rem auto !important;
                }
            }

            .mid {
                margin-bottom: 0;
            }

            .last {
                text-align: left;

                hr {
                    margin: 0 auto .75rem 0 !important;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    footer {
        .row {
            hr {
                margin: 0 auto .75rem 0 !important;
            }

            .desc {
                text-align: left;
                margin-bottom: 0;
            }

            .first,
            .mid,
            .last {
                hr {
                    margin: 0 auto .75rem 0 !important;
                }

                text-align: left;
            }
        }
    }
}