// Styling for the masthead
header.masthead {
	text-align: center;
	color: white;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../img/alexei-scutari-560667-unsplash.jpg');
	background-position: center center;
	background-size: cover;
	min-height: 500px;
	height: 100vh;
	// -webkit-filter: grayscale(70%);
	// filter: grayscale(70%);
	.intro-text {
		.intro-lead-in {
			font-size: 24px;
			line-height: 1.5s;
			margin-bottom: 30px;
			@include heading-font;
		}
		.intro-heading {
			font-size: 18px;
			line-height: 1.3;
			margin-bottom: 25px;
			@include heading-font;
		}
		.actions {
			.btn {
				display: block;
				margin-bottom: 1rem;
			}
		}
	}
}

@media(min-width: 768px) {
	header.masthead {
		.intro-text {
			.intro-lead-in {
				font-size: 32px;
			}
			.intro-heading {
				font-size: 28px;
			}
			.actions {
				.btn {
					display: inline-block;
					margin: 0 .5rem;
				}
			}
		}
	}
}

@media(min-width: 992px){
	header.masthead {
		.intro-text {
			.intro-lead-in {
				font-size: 40px;
			}
			.intro-heading {
				font-size: 32px;
			}
		}
	}
}
