span.icon {
    i {
        line-height: 1;
        font-size: 5rem;
    }
    &.icon-primary {
        i {
            color: $primary;
        }
    }
    &.icon-success {
        i {
            color: $success;
        }
    }
    &.icon-info {
        i {
            color: $info;
        }
    }
    &.icon-warning {
        i {
            color: $warning;
        }
    }
    &.icon-danger {
        i {
            color: $danger;
        }
    }
}