ul.social-networks {
    list-style: none;
    padding-left: 0;
    li {
        display: inline;
        margin-right: 15px;
        a {
            display: inline-block;
            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
            }
            i {
                font-size: 2rem;
            }
        }
        &.facebook {
            a {
                color: #3b5998;
            }
        }
        &.twitter {
            a {
                color: #1da1f2;
            }
        }
        &.instagram {
            a {
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                background-clip: text;
	            -webkit-background-clip: text;
	            -webkit-text-fill-color: transparent;
            }
        }
        &.youtube {
            a {
                color: #ff0000;
            }
        }
        &.telegram {
            a {
                color: #0088cc;
            }
        }
    }
}