hr.separator {
	width: 150px;
	height: 2px;
	background-color: $primary;
	margin: 3rem auto;
}

.bg-primary {
	background-color: $primary !important;
}

.bg-gray-50 {
	background-color: $gray-50;
}

.bg-gray-100 {
	background-color: $gray-100;
}