// Font Mixins
@mixin serif-font {
    font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@mixin narrow-font {
    font-family: 'PT Sans Narrow', sans-serif;
}

@mixin script-font {
    font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@mixin body-font {
    font-family: 'Roboto Condensed', sans-serif;
}

@mixin subhead-font {
    font-family: 'Roboto Mono', monospace;
}

@mixin heading-font {
    font-family: 'Roboto', sans-serif;
}

@mixin transition-all($duration) {
    transition: all $duration;
    -o-transition: all $duration;
    -moz-transition: all $duration;
    -webkit-transition: all $duration;
}

@mixin box-shadow($a, $b, $c, $d, $color) {
    box-shadow: $a $b $c $d rgba($color, .2);
    -webkit-box-shadow: $a $b $c $d rgba($color, .2);
    -moz-box-shadow: $a $b $c $d rgba($color, .2);
    -o-box-shadow: $a $b $c $d rgba($color, .2);
}

@mixin border-radius($size) {
    border-radius: $size;
    -moz-border-radius: $size;
    -webkit-border-radius: $size;
}