// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: darken($white, 10%) !default;
$gray-200: darken($gray-100, 10%) !default;
$gray-300: darken($gray-200, 10%) !default;
$gray-400: darken($gray-300, 10%) !default;
$gray-500: darken($gray-400, 10%) !default;
$gray-600: darken($gray-500, 10%) !default;
$gray-700: darken($gray-600, 10%) !default;
$gray-800: darken($gray-700, 10%) !default;
$gray-900: darken($gray-800, 10%) !default;
$black: darken($gray-900, 10%) !default;

$primary: #fe732b !default;
