extends include/account.pug

block account-detail
    h3.section-heading Overview
    hr
    .row
        .col-sm-6
            .card.widget.primary.d-flex
                .card-body.text-center.d-flex.align-items-center.clearfix
                    span.icon.float-left
                        i.remixicon-bookmark-2-line
                    .text
                        span.value 3
                        | Campaign created
        .col-sm-6
            .card.widget.success.d-flex
                .card-body.text-center.d-flex.align-items-center.clearfix
                    span.icon.float-left
                        i.remixicon-heart-line
                    .text
                        span.value 12
                        | Donation made
        .col-sm-6
            .card.widget.info.d-flex
                .card-body.text-center.d-flex.align-items-center.clearfix
                    span.icon.float-left
                        i.remixicon-shield-star-line
                    .text
                        span.value $9,500
                        | Donation received
        .col-sm-6
            .card.widget.warning.d-flex
                .card-body.text-center.d-flex.align-items-center.clearfix
                    span.icon.float-left
                        i.remixicon-mail-send-line
                    .text
                        span.value $75
                        | Donation given
    .row
        .col-12
            .card.widget
                .card-header
                    | Activity
                .card-body
                    ul.activities
                        li
                            span.date 25/06/2019 4:20pm
                            p Successfully created a campaign 
                                a(href='campaign-single.html') Sample Campaign
                                |.
                        li
                            span.date 24/06/2019 8:54am
                            p Officially registered to WPBerbagi.