extends include/layout.pug

block content
    // Navbar
    include include/navbar1.pug
    // Content
    section.campaign-single.top-bar
        .container
            .row
                .col-lg-8.col-left
                    .single-box.bg-white
                        .text-center
                            img(src="../img/image1.jpg").img-fluid.mb-4
                        h2.page-heading Sample Campaign Title Will Show Here
                        hr
                        .row
                            .col
                                a(href='#').btn.btn-info.btn-block.btn-lg
                                    i.remixicon-share-fill
                                    |  Share
                            .col
                                a(href='#').btn.btn-danger.btn-block.btn-lg
                                    i.remixicon-heart-fill
                                    |  Like
                        hr
                .col-lg-4

block footer
    include include/footer.pug