extends include/layout.pug

block content
    section#step-5.create-step
        .container
            .row
                .col-lg-8.mx-auto
                    .card
                        .card-body
                            include include/nav-step.pug
                            form(action="create-success.html").form-step
                                .form-group
                                    label Who will get benefit of this campaign?
                                    .custom-control.custom-radio
                                        input(type="radio", name='benefit', value='myself')#myself.custom-control-input
                                        label(for="myself").custom-control-label Myself
                                    .custom-control.custom-radio
                                        input(type="radio", name='benefit', value='family')#family.custom-control-input
                                        label(for="family").custom-control-label My Family
                                    .custom-control.custom-radio
                                        input(type="radio", name='benefit', value='organization')#organization.custom-control-input
                                        label(for="organization").custom-control-label My Organization
                                    .custom-control.custom-radio
                                        input(type="radio", name='benefit', value='other')#other.custom-control-input
                                        label(for="other").custom-control-label Other                                
                                .form-group
                                    .custom-control.custom-checkbox
                                        input(type="checkbox", name='agree', value='1')#agree.custom-control-input
                                        label(for="agree").custom-control-label By clicking submit i agree to
                                            a(href='page-sample.html')  Terms of Use 
                                            | and
                                            a(href='page-sample.html')  Privacy Policy 
                                            | of WPBerbagi
                                a(href='create-step-4.html').btn.btn-info.btn-lg 
                                    i.remixicon-arrow-left-line
                                    | Back
                                button.btn.btn-primary.btn-lg.btn-need-confirm.btn-disabled Finish & Submit