extends include/layout.pug

block content
  header.masthead
    .container.h-100
      .row.h-100.align-items-center
        .col-lg-8.mx-auto
          .intro-text.align-self-center
            .intro-lead-in Perjuangkan dan Dukung Kebaikan di Seluruh Dunia!
            hr.separator
            .actions
              a.btn.btn-primary.btn-xl(href='register.html') Buat Program
              a.btn.btn-outline-info.btn-xl.js-scroll-trigger(href='#campaigns') Mulai Berdonasi
  section#campaigns
    .container
      .row.mb-5
        .col-lg-8.mx-auto.text-center
          h2.section-heading Dukung Kebaikan
          p.lead Mari dukung mereka mewujudkan kebaikan di seluruh dunia
      .row.campaigns
        .col-md-6.col-lg-4.campaign-item
          include include/campaign-item.pug
        .col-md-6.col-lg-4.campaign-item
          include include/campaign-item.pug
        .col-md-6.col-lg-4.campaign-item
          include include/campaign-item.pug
        .col-md-6.col-lg-4.campaign-item
          include include/campaign-item.pug
  section
