extends include/layout.pug

block content
  header.masthead
    .container.h-100
      .row.h-100.align-items-center
        .col-lg-8.mx-auto
          .intro-text.align-self-center
            .intro-lead-in Perjuangkan dan Dukung Kebaikan di Seluruh Dunia!
            hr.separator
            .actions
              a.btn.btn-primary.btn-xl(href='register.html') Mulai WPBerbagi
              a.btn.btn-outline-info.btn-xl.js-scroll-trigger(href='#campaigns') Mulai Berdonasi
  section#campaigns
    .container
      .row.mb-5
        .col-lg-8.mx-auto.text-center
          h2.section-heading Dukung Kebaikan
          p.lead Mari dukung mereka mewujudkan kebaikan di seluruh dunia
      .row.campaigns
        .col-md-6.col-lg-4.campaign-item
          include include/campaign-item.pug
        .col-md-6.col-lg-4.campaign-item
          include include/campaign-item.pug
        .col-md-6.col-lg-4.campaign-item
          include include/campaign-item.pug
        .col-md-6.col-lg-4.campaign-item
          include include/campaign-item.pug
      .row.mt-3
        .col.text-right
          a(href='campaigns.html').btn.btn-link.btn-more
            | Lihat semua 
            i.remixicon-arrow-right-s-line
  section#about-us.bg-light
    .container
      .row
        .col-lg-5.img-col
          img(src='img/slider/slider1.jpg').img-fluid
        .col-lg-7.text-col
          h2.section-heading.alt.text-uppercase Tentang Kami
          h3.section-subheading Mari Sebarkan Kebaikan
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a diam quis sapien placerat posuere. Sed commodo ullamcorper nisl vel placerat. Aliquam molestie ultrices consequat. Proin finibus turpis nec luctus condimentum. Fusce ut cursus sem. Fusce a diam quis sapien placerat posuere.
          ul.social-networks.mt-3
            li.facebook
              a(href='#')
                i.remixicon-facebook-circle-line
            li.twitter
              a(href='#')
                i.remixicon-twitter-line
            li.instagram
              a(href='#')
                i.remixicon-instagram-line
            li.youtube
              a(href='#')
                i.remixicon-youtube-line
            li.telegram
              a(href='#')
                i.remixicon-telegram-line
          a(href='about.html').btn.btn-primary.btn-lg Selengkapnya
  section#features
    .container
      .row.mb-5
        .col-lg-8.mx-auto.text-center
          h2.section-heading Perjuangan Kebaikan Dengan Mudah
      .row
        .col-12.col-md-6.col-lg-4.feature-item
          .row
            .col-2.col-img
              i.remixicon-earth-fill
            .col-10.text-left.col-text
              h4 Berbasis Online
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit suscipit libero tellus vitae augue.
        .col-12.col-md-6.col-lg-4.feature-item
          .row
            .col-2.col-img
              i.remixicon-settings-2-fill
            .col-10.text-left.col-text
              h4 Bebas Konfigurasi
              p Nunc efficitur, odio eget porttitor venenatis, tellus magna efficitur mi, ultrices suscipit libero.
        .col-12.col-md-6.col-lg-4.feature-item
          .row
            .col-2.col-img
              i.remixicon-money-dollar-circle-fill
            .col-10.text-left.col-text
              h4 Bebas Biaya
              p Cras vel ullamcorper massa. Sed cursus faucibus lacus, a placerat tellus dignissim sed nuisque.
        .col-12.col-md-6.col-lg-4.feature-item
          .row
            .col-2.col-img
              i.remixicon-bar-chart-2-fill
            .col-10.text-left.col-text
              h4 Jangkauan Luas
              p Quisque sit amet sapien felis. Fusce efficitur ornare semper. Etiam nec odio at mi tincidunt.
        .col-12.col-md-6.col-lg-4.feature-item
          .row
            .col-2.col-img
              i.remixicon-customer-service-fill
            .col-10.text-left.col-text
              h4 Bebas Konsultasi
              p Phasellus sit amet purus tristique, dictum augue a, aliquam mauris. Morbi congue massa sit amet.
        .col-12.col-md-6.col-lg-4.feature-item
          .row
            .col-2.col-img
              i.remixicon-trophy-fill
            .col-10.text-left.col-text
              h4 Tanpa Penalti
              p Praesent aliquam nunc id sodales bibendum. Aenean finibus varius justo quis eleifend gonec interdum.
      .row
        .col.text-center
          a(href='register.html').btn.btn-primary.btn-lg Mulai WPberbagi
  section#get-started.bg-light
    .container
      .row.align-items-center.justify-content-center
        .col-auto
          h2.section-heading Siap Untuk Memperjuangkan Kebaikan?
        .col-auto
          a(href='register.html').btn.btn-primary.btn-lg Mulai WPBerbagi
