extends include/layout.pug

block content
  header.masthead
    .container
      .intro-text
        .intro-lead-in Welcome To Our Studio!
        .intro-heading.text-uppercase It's Nice To Meet You
        a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href='#services') Tell Me More
