extends include/layout.pug

block content
    section#register-confirmation.full-height
        .container.h-100
            .row.h-100.align-items-center
                .col-lg-8.mx-auto.text-center
                    .card
                        .card-body
                            h2.section-heading Registration Success
                            span.icon.icon-success
                                i.remixicon-checkbox-circle-line
                            p.lead You have successfully registered, now please activate your email to get started!
                            a(href='create-step-1.html').btn.btn-primary.btn-lg I have activated my email
