extends include/layout.pug

block content
    section#register-confirmation.full-height
        .container.h-100
            .row.h-100.align-items-center
                .col-lg-8.mx-auto.text-center
                    .card
                        .card-body
                            p.lead You have successfully registered, now please activate your email to get started!
                            a(href='account-edit.html').btn.btn-primary.btn-lg I have activated my email
